<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>ServletsCRUD</display-name>


    <servlet>
        <servlet-name>simpleServlet</servlet-name>
        <servlet-class>ru.trandefil.sc.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>simpleServlet</servlet-name>
        <url-pattern>/simple</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllProjects</servlet-name>
        <servlet-class>ru.trandefil.sc.servlet.project.ProjectListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllProjects</servlet-name>
        <url-pattern>/projects</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateProject</servlet-name>
        <servlet-class>ru.trandefil.sc.servlet.project.UpdateProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateProject</servlet-name>
        <url-pattern>/updateProject</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProject</servlet-name>
        <servlet-class>ru.trandefil.sc.servlet.project.DeleteProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProject</servlet-name>
        <url-pattern>/deleteProject</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProject</servlet-name>
        <servlet-class>ru.trandefil.sc.servlet.project.AddProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProject</servlet-name>
        <url-pattern>/addProject</url-pattern>
    </servlet-mapping>

<!--
    <welcome-file-list>
        <welcome-file>hello.jsp</welcome-file>
    </welcome-file-list>
-->

    <error-page>
        <error-code>404</error-code>
        <location>/error.html</location>
    </error-page>

</web-app>